body{
    margin: 0;
    background-color: rgb(194, 136, 30);
    font-family: 'Times New Roman', Times, serif;
}
header{
background-color:khaki;
color: rgb(180, 39, 39);
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: space-between;

}
nav a{
    color:white;
    margin: 0px 20px;
    text-decoration:none;
    font-size: 20px;
}

.btn{
    margin: 5px 40px;
    background-color: rgb(255, 0, 153);
    border-radius: 12px;
    padding: 8px 13px;
    font-size: 25px;
    display: inline-block;
}
.m{
  display:flex;
  justify-content:center;
  gap:25px;
  padding:60px 30px;
  flex-wrap: wrap;
   background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}
 
.box{
  background:#fff;
  padding:25px;
  width:200px;
  text-align:center;
  border-radius:8px;
  box-shadow:5px 5px 5px 5px rgba(0,0,0,0.15);

}
.box img{
  height: 85px;
  width: 85px;
}
.c{
  justify-content: center;
  text-align: center;
  color: black;
}
footer{
    background-color: rgb(148, 148, 190);
    color: black;
    text-align: center;
    padding: 5px ;
    width: 100%;
    position: fixed;
    bottom:0;
}
#user-display{
    position:absolute;
    right:20px;
    top: 20px;
    font-weight: bold;
    color: brown;
}